:root {
	--mainBackground: #070725;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
	letter-spacing: 0.05em;
}

body {
  background-color: var(--mainBackground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	background-color: var(--mainBackground);
}

::-webkit-scrollbar-thumb {
	@apply bg-teal-400 hover:bg-blue-200;
	border: 3px solid transparent;
	border-radius: 0.75rem;
	background-clip: padding-box;
}

/* Keyframes */
@keyframes appear {
	0% { 
		transform: translateY(20px);
		opacity: 0;
	}
	100% { 
		transform: translateY(0);
		opacity: 1;
	}
}