:root {
	--mainBackground: #070725;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
	@apply tracking-wider;
}

body {
  background-color: var(--mainBackground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: var(--mainBackground);
}

::-webkit-scrollbar-thumb {
	@apply bg-teal-400 hover:bg-blue-200 border-4 border-solid border-transparent rounded-xl;
	background-clip: padding-box;
}